SUPABASE_URL=https://xxxxxxxx.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxxxxxxxxxxxxxxxxx-xxxxxxxxxx_meS6Z6MR
SUPABASE_SECRET_KEY=sb_secret_xxxxxxxxxxxxxxxxxxxxxxxxxx_JCxxxxR
SUPABASE_JWKS_URL=https://kxxxxxxxxxxxxx.supabase.co/auth/v1/.well-known/jwks.json